<div class="margin_top">
  <h1>
    <a href="http://stackoverflow.com/users/1869343/7200rpm" target="_blank"><i class="fa fa-stack-overflow"></i></a>&nbsp;
    <a href="https://github.com/7200rpm" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
    <a href="https://www.linkedin.com/pub/brandon-brown/42/325/a85" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
  </h1>
</div>