{{!< default}}

{{> "header"}}

<div class="ads">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- LogicTop -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1195309242567386"
         data-ad-slot="1959018009"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
</div>

<main class="site_width" role="main">
  {{> "loop"}}
</main>